// Less precision than the default value
PI = 3.14;

// convert any angle unit to radian
rad(x)
  if unit(x)  is 'deg'
    unit(x * PI/180, 'rad');
  else if unit(x)  is 'turn'
    unit(x * 2*PI, 'rad');
  else if unit(x)  is 'grad'
    unit(x * PI/200, 'rad');

// Convert any angle unit to degree
deg(x)
  if unit(x) is 'rad'
    unit(x * 180/PI, 'deg');
  else if unit(x)  is 'turn'
    unit(x * 360, 'deg');
  else if unit(x)  is 'grad'
    unit(x * 9/10, 'deg');

// Convert any angle unit to turn
turn(x)
  if unit(x) is 'rad'
    unit(x / PI, 'turn');
  else if unit(x) is 'deg'
    unit(x / 360, 'turn');
  else if unit(x) is 'grad'
    unit(x / 400, 'turn');

// Convert any angle unit to gradian
grad(x)
  if unit(x) is 'rad'
    unit(x * 200/PI, 'grad');
  else if unit(x)  is 'deg'
    unit(x * 10/9, 'grad');
  else if unit(x)  isx 'turn'
    unit(x * 400, 'grad');
