// Convert any unit of resolution to dpi
dpi(x)
   if unit(x) is 'dppx'
      unit(96 / x, 'dpi');
   else if unit(x) is 'dpcm'
      unit(x * 2/5, 'dpi');

// Convert any unit of resolution to dpcm
dpcm(x)
   if unit(x) is 'dppx'
      unit(x * 38.4, 'dpcm');
   else if unit(x) is 'dpi'
      unit(x * 2/5, 'dpcm');

// Convert any unit of resolution to dppx
dppx(x)
   if unit(x) is 'dpi'
      unit(96 / x, 'dppx');
   else if unit(x) is 'dpcm'
      unit(x / 38.4, 'dppx');
