// Convert millisecond to second, with leading zeros or not
sec(x, leadingzero = true)
  if unit(x) is 'ms'
    if !leadingzero
      s('.%s', remove-unit(x)) + 's';
    else
      unit(x / 1000, 's');

// Convert second to millisecond
millisec(x)
  if unit(x) is 's'
     unit(x * 1000, 'ms');
